@import '_variables_mixins';

.idea-list {
  &.container {
    width: 80%;
    margin: 1rem auto;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  input[name='searchTerm'] {
    @include inputMixin;
    margin-top: 2rem;
  }

  .sorting-search {
    position: relative;

    input {
      margin-top: 2rem;
    }

    .sorting-element {
      position: absolute;
      right: 1rem;
      margin-top: -1.5rem;

      label {
        display: block;
      }

      select {
        background: url('../assets/down-arrow.svg') no-repeat right;
        background-color: $color-white;
        background-origin: content-box;
        border: 2px solid $color-border-gray;
        border-radius: 0;
        cursor: pointer;
        margin-top: 0.5rem;
        font-size: 1.125rem;
        height: 2.75rem;
        padding: 0.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand {
          display: none;
        }
      }

      label {
        font-family: $primary-font;
        color: $color-text-dark-gray;
        font-size: 1rem;
        margin-left: 0.25rem;
      }

      @media screen and(max-width: 860px) {
        position: initial;
        width: 20rem;
        margin: 1rem auto 2rem;
        display: block;

        select {
          width: 100%;
        }
      }

      @media screen and (max-width: 480px) {
        width: 15rem;
      }
    }
  }
}
