@import '_variables_mixins';

.idea-card {
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid $color-border-gray;
  font-family: $primary-font;
  font-size: 1rem;
  color: $color-text-dark-gray;

  h1, .idea-quality p {
    font-family: $secondary-font;
    font-weight: 700;
    color: $color-text-dark-gray;
  }

  h1, .idea-body {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .idea-body {
    line-height: 1.5rem;
    padding: .5rem 0;
  }

  input {
    display: block;
    border: 2px solid $color-border-gray;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
  }

  .card-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;

    &.delete {
      float: right;
      background: url('../assets/delete.svg') center no-repeat;

      &:hover {
        background: url('../assets/delete-hover.svg') center no-repeat;
      }
    }

    &.upvote {
      float: left;
      background: url('../assets/upvote.svg') center no-repeat;
      margin-right: 0.5rem;

      &:hover {
        background: url('../assets/upvote-hover.svg') center no-repeat;
      }
    }

    &.downvote {
      float: left;
      background: url('../assets/downvote.svg') center no-repeat;
      margin-right: 1rem;

      &:hover {
        background: url('../assets/downvote-hover.svg') center no-repeat;
      }
    }
  }

  .idea-quality {
    margin: 1rem 0;

    p {
      font-size: 1.125rem;
      margin-left: 1rem;
    }
  }
}